<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <div class="container">
    <div class="rowhead row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="headtext">
          <h1 class="display-3">LOTTO LOGIN</h1>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="rowform row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="formfield">
          <form (submit)="login($event)" >
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">USERNAME</span>
                  </div>
                  <input type="text" class="form-control" id="username">
              </div>
              <br>
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">PASSWORD</span>
                  </div>
                  <input type="password" class="form-control" id="password">
              </div>
              <br>
              <input type="submit" class="submitbtn btn btn-success" value="LOGIN">
          </form>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</body>
</html>
