<div class="rowheaddashcontent row">
  <div class="col-2"></div>
  <div class="col-8">
    <a class="headtext">รายชื่อสมาชิก</a>
  </div>
  <div class="col-2"></div>
</div>
<div class="rowbtn row">
  <div class="col-2"></div>
  <div class="col-8">
    <button class="btnadduser btn btn-success" (click)="addUser();">+ เพิ่มสมาชิก</button>
  </div>
  <div class="col-2"></div>
</div>
<div class="rowtable row">
  <div class="col-2"></div>
  <div class="col-8">
      <table class="table table-hover">
          <thead>
            <tr>
              <th>จำนวนผู้ใช้</th>
              <th>ชื่อผู้ใช้</th>
              <th>จำนวนเงิน(บาท)</th>
              <th>การจัดการผู้ใช้</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of user;index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{u.name}}</td>
              <td>{{u.money}}</td>
              <td><button class="addmoneybtn btn btn-warning" (click)="moneyAdd(u.id)">+ เพิ่มเงินผู้ใช้</button><span class="blank"></span><button class="deluserbtn btn btn-danger">ลบผู้ใช้</button></td>
            </tr>
          </tbody>
        </table>
  </div>
  <div class="col-2"></div>
</div>
