<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <div class="container-fluid">
    <div class="navcontain">
        <nav>
            <div class="logo">
              <a>LOTTO</a>
            </div>
            <div class="nav-content">
              <ul>
                <li>สมาชิก</li>
                <li><span class="btnlogout btn btn-danger" (click)="logout()">ออกจากระบบ</span></li>
              </ul>
            </div>
          </nav>
    </div>
      <div class="containerdash container-fluid">
          <router-outlet></router-outlet>
      </div>
  </div>
</body>
</html>
